.DS_Store
class_tutorial/.ipynb_checkpoints/classes-checkpoint.ipynb
class_tutorial/.ipynb_checkpoints/learnClasses-checkpoint.ipynb
class_tutorial/.ipynb_checkpoints/star_class-checkpoint.ipynb

readme.ipynb
class_tutorial/learnClasses.html
class_tutorial/learnClasses.md
